python-dateutil>=2.8.2
streamlit==1.37.1
streamlit-folium==0.25.1
streamlit-image-comparison==0.0.4
folium==0.16.0
pystac-client==0.8.2
stackstac==0.5.1
xarray==2024.6.0
numpy==1.26.4
geopandas==0.14.4
shapely==2.0.4
rasterio==1.3.10
rioxarray==0.15.7
pyproj==3.6.1
matplotlib==3.8.4
pillow==10.4.0
